*:before,*:after{ box-sizing: border-box; }

*{
	position: relative;
	margin: 0;
	padding:0;
	box-sizing: border-box;
}

body a{
	text-decoration: none;
}

body li{
	list-style-type: none;
}

body{
	position: relative;
	width:100%;
	position: relative;
	min-height: 100vh;
	font-family: 'Roboto', sans-serif;
	background-image: radial-gradient(circle, #0C5776, 40%, #BCFEFE 52%, #F8DAD0 68%);
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow-x: hidden;
}

span.heading{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color:#fff;
	font-size: 12vw;
	text-transform: uppercase;
}

.container{
	position: relative;
	width: 992px;
	padding: 30px 54px;
	background: rgba(255, 255, 255, 0.65);
	box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
	backdrop-filter:blur(5.0px);
	-webkit-backdrop-filter:blur(5.0px);
	border-radius: 20px;
	overflow:hidden;
}

.nav-bar{
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.nav-bar .logo{
	text-transform: uppercase;
	color:#001C44;
	font-weight: 700;
}

.nav-bar .list{
	position: relative;
	display: flex;
	align-items: center;
}

.nav-bar .list li{
	position: relative;
	list-style-type: none;
}

.nav-bar .list li a{
	position: relative;
	display: inline-block;
	font-weight: 500;
	color: #0C5776;
	text-transform: uppercase;
	padding: 5px 10px;
	margin: 0 5px;
	border:2px solid transparent;
	border-radius: 50px;
	transition: border 200ms linear;
}

.nav-bar .list li a:hover{
	border-color: #2D99AE;

}

.nav-bar .sing-button{
	display: inline-block;
	border:1px solid #2f2e41;
	color:#2f2e41;
	border-radius: 50px;
	padding:8px 24px;
	text-transform: uppercase;
	font-weight: 600;
	transition: color 300ms, background 300ms, border 300ms linear;
	cursor: pointer;
}

.nav-bar .sing-button:hover{
	color:#fff;
	border:1px solid #0C5776;
	background: #0C5776;
}

.img-right{
	position: absolute;
	right: 20px;
	width: 332px;
	bottom: -120px;
}

.content-box{
	position: relative;
	padding:40px 0;
}

.content-box .title{
	position: relative;
}

.content-box .title p{
	color:#0C5776;
	text-transform: capitalize;
	font-weight: 600;
	font-size: 2.5rem;
}

.content-box .title p.light{
	font-weight: normal;
	font-size: 1rem;
	margin-bottom: 1rem;
}

.content-box .content{
	padding: 30px 30% 30px 0;
} 

.content-box .content p{
	color:#2f2e41;
	font-weight: 400;
	line-height: 1.5rem;
}


.content-box .button-box{
	position: relative;
}

/* Button Animation Start*/

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.button-box span{
	text-transform: uppercase;
}

.btn-3 {
  background: #2D99AE;
background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  
}
.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
   background: #2D99AE;
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover{
   background: transparent;
  box-shadow: none;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 span:hover{
   color: #2D99AE;
}
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
   background: #2D99AE;
  transition: all 0.3s ease;
}
.btn-3 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after {
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after {
  width: 100%;
}

/*button animation end*/


.icons{
	top:-15px;
	right:15px;
}

.icons .fa{
	font-size: 30px;
}

.icons a i.fa-facebook-official{ color: #2C80D3; }
.icons a i.fa-youtube-play{ color: #fa0910; }
.icons a i.fa-twitter-square{ color: #53c5ff; }
.icons a i.fa-linkedin-square{ color:  #0e76a8; }
.icons a i.fa-github-square{ color: #4078c0; }

